@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}


html {
    height: 100%;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    /* цвета фонов других вариантов заглавной страницы: #69A9FF   #FCC850 */
    color: #2D3440;
}

.visually-hidden {
    display: none;
}

/* page-header */

.main-header, .page-header {
    width: 1170px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 654px;
}

.user-navigation {
    max-width: 452px;
    margin-left: auto;
}

.logo {
    display: block;
    padding: 24px 16px 24px 98px;
    margin: 0;
}

.navigation-link {
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;

}

.user-navigation>li {
    font-size: 14px;

}

.phone {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

/* main */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

/* слайдер */

.bestsellers-slider {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 1170px;
    text-align: left;

}

.slider-description-wrap {
    width: 470px;
}

.slider-image-wrap {
    width: 348px;
}

.slider-button { /* кнопки отображаются криво */
    padding: 0;
    border-width: 0;
    background-color: #FEAFC3; /* нужно будет переключать цвет при перелистывании слайдов */
     
}

.slider-list-item {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.ice-cream-title{
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.ice-cream-description {
    font-size: 18px;
    line-height: 24px;
}

.order-now{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
    /* background-color: #FCFCFC;    - БЫЛО НАПИСАНО ПОД BUTTON
    width: 139px;
    height: 44px;
    border-width: 0;
    outline: 4px solid rgba(252, 252, 252, 0.4);
    border-radius: 26px; */
}

/* промо-секция: подарки при заказе */

.gifts-for-orders {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto 80px auto;

}

.gifts-for-order-header {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
    width: 1170px;  
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.gifts-wrap {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    
}

.get-for-free {
    background-color: #ff7799;
    width: 570px;
    border-radius: 16px;
}

.get-for-free>h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.recieve-gift {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

/* витрина самых популярных вкусов */

.bestchoice {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 80px;
    

}

.bestchoice-title {
    display: block;
    width: 1170px;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 107px;
}

.bestchoice-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.flypage {
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    border-radius: 8px;
    width: 270px;
}

.flypage>h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-card-image {
    order: -1;
    display: block;
    width: 168px;
    border-radius: 50%;
    margin-top: -51px;
    margin-left: auto;
    margin-right: auto;
}

.price{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

/* сильные стороны магазина */

.strong-points {
    background-image: url("../img/index/waffle_cropped.jpg");
    width: 1170px;
    background-repeat: repeat-x;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.strong-points-inner-wrap {  /*неправильно центрируется белая подложка */
    background-color: #FCFCFC;
    width: 1122px;
    border-radius: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.strong-points-title {
    display: block;
    width: 1122px;
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

}

.strong-points-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.strong-points-item {
    width: 506px;
}

/* контейнер для блога и подписки */

.article-subscription-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 76px;
    

}

/* блог */

.article-wrap {
    width: 570px;
    background-image: url("../img/index/three_ice_cream_scoops.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-right: auto;
    
}


.new-article>b {
    line-height: 20px;
    color: #565C66;
}

.article-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    text-decoration: none;
    background-image: none;
}

/*подписка*/

.subscription {
    background-image: url('../img/index/post_stripes_optimized.jpg');
    width: 570px;
    border-radius: 16px;
    margin-left: auto;
}

.subscription-inner-wrap {
    background-color: #FCFCFC;
    width: 558px;
    margin: auto;
    border-radius: 16px;
}

.subscription-inner-wrap>p {
    font-weight: 400;  /* почему это значение не унаследовалось от body?*/
    color: #565C66;
}

.send-button {
    background-color: #FF2F64;
    color: #FCFCFC;
    width: 152px;
    height: 44px;
    border-width: 0;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;

}

/* доставка */

.delivery {
    display: flex;
    background-image: url("../img/index/assorted_ice-cream.jpg");
    background-repeat: no-repeat;
    width: 1170px;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.delivery-description-wrap {
    width: 400px;
    margin: 0 auto 0 100px;

}

.delivery-data {
    width: 500px;
    margin: 0 64px 0 auto;
    background-image: none;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.delivery-title {  /*внешний вид в браузере отличается от макета */
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.delivery-prompting {
    color: #565C66;
    font-size: 16px;
    font-weight: 400; 
    line-height: 22px;
}

.delivery-tip {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;

}


.delivery-date, .delivery-recipient_phone, .delivery-recipient-address {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

/* контакты */

.address-section {
    background-image: url("../img/index/three_ice_cream_cones.jpg");
    background-repeat: no-repeat;
    width: 1170px;
    border-radius: 16px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;

}

.gllacy-shop-address-title, .gllacy-shop-phone-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.gllacy-shop-address-link, .gllacy-shop-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

}

.open-hours {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}

.address-inner-wrap {
    width: 343px;
    background-color: #FCFCFC;
    border-radius: 8px;
    margin-left: 64px;
    margin-right: auto;
}

.open-feedback-window {
    background-color: #FF2F64;
    color: #FCFCFC;
    width: 250px;
    height: 46px;
    border-width: 0;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

/* footer */

.page-footer-container {
    display: flex;
    padding-top: 48px;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}


.extra-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.for-suppliers {
    font-weight: 700;
}

.web-developer, .web-developer-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2D3440
}


/* Catalog */

.navigation-link-current {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #FCFCFC;
    background-color: #FF4A78;
}

.main-inner-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    color: #2D3440;
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
}

.breadcrumbs-current {
    text-decoration: none;
}

.product-card-list {
    display: flex;
    width: 1170px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    margin-bottom: 91px;
}

.pagination-show-more {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-align: center;
    background-color: #FCFCFC;
    width: 179px;
    height: 44px;
    border-width: 0;
    outline: 4px solid rgba(252, 252, 252, 0.4);
    border-radius: 26px;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
}

