@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
}

.pink {
    background-color: #FEAFC3;
}

.blue {
    background-color: #69A9FF;
}

.yellow {
    background-color: #FCC850;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    cursor: pointer;
}

/* page-header */

.main-header,
.page-header {
    width: 1170px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    width: 654px;
    margin: 0;
    margin-top: 34px;
    margin-bottom: 34px;
    padding: 0;
    list-style-type: none;
}

.user-navigation {
    justify-content: flex-end;
    max-width: 452px;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-left: auto;
}

.logo-wrap {
    padding: 24px 16px 24px 0;
    margin: 0;
    border-radius: 26px;
}

.logo {
    padding: 0;
    margin: 0;
}

.navigation-link {
    display: block;
    padding: 8px 16px 8px 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    cursor: pointer;
    border-radius: 26px;
}

.current-nav-link-wrap{
    display: flex;
    justify-content: center;
    height: 36px;
    border-width: 0;
    border-radius: 26px;
}

.navigation-link-current {
    position: relative;
    align-self: center;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #FCFCFC;
    text-align: center;
    text-decoration: none;
    background-color: #FF4A78;
    border-radius: 26px;
}

.navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.5);

}

.navigation-link-current:hover {
    background-color: rgba(252, 252, 252, 0.5);
    color: #2D3440;
}

.navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0 0 0 2px #2D3440;
    outline: none;
}

.navigation-link-current:focus {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0 0 0 2px #2D3440;
    color: #2D3440;
}

.navigation-link:active {
    background-color: #FCFCFC;
    box-shadow: none;
}

.navigation-link-current:focus {
    background-color: #FCFCFC;
    box-shadow:none;
    color: #2D3440;
    outline: none;
}

.logo-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo-link:hover,
.logo-link:focus,
.logo-link:active {
    box-shadow: none;
    background-color: transparent;
}

.logo-link:focus {
    outline: 2px solid #2D3440;
}

.user-navigation > li {
    font-size: 14px;
    margin-right: 16px;

}

.user-navigation > li:first-child {
    margin-right: 20px;
}

.user-navigation > li:last-child {
    margin-right: 0;
}

.phone {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    border-radius: 26px;
}

.phone:focus{
    outline: 2px solid #2D3440;
}

.search-link {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 50%;
}

.navigation-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    fill: #2D3440;
}

.icon-n-text-link > a {
    display: flex;
    position: relative;
    padding: 6px 16px;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    background-color: rgba(252, 252, 252, 0.3);
    cursor: pointer;
    border-radius: 26px;
}

.icon-n-text-link > a:hover,
.search-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.icon-n-text-link > a:focus,
.search-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0 0 0 2px #2D3440;
    outline: none;
}

.icon-n-text-link > a:active,
.search-link:active {
    background-color: #FCFCFC;
    box-shadow: none;
}

.nav-login-link .navigation-icon,
.nav-cart-link .navigation-icon {
    position: absolute;
    right: auto;
    left: 16px;
    margin: auto 0;
}

.icon-n-text-link span {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

/*popover*/

.popover {
    position: absolute;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    z-index: 3;
}

.popover-content {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #2D3440;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

/*popover cart*/

.popover-cart {
    position: absolute;
    top: calc(100% - 10px);
    right: 0;
    display: none;
    box-sizing: border-box;
    padding: 12px;
    z-index: 3;
}

.popover-cart-content {
    box-sizing: border-box;
    min-height: 234px;
    width: 441px;
    padding: 48px;
    z-index: 1;
}

.navigation-item:hover .popover-cart {
    display: block;
}

.popover-title {
    margin-top: 0;
    margin-left: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #2D3440;
}

.cart-items-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cart-item {
    display: grid;
    grid-template-columns: 46px auto 65px 48px;
    grid-template-rows: auto auto;
    column-gap: 16px;
    margin-bottom: 24px;
}

.cart-item-title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.cart-item-volume {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #B9B9B9;
    text-align: left;
}

.cart-item-pic {
    grid-column: 1/2;
    grid-row: 1/3;
    display: block;
    margin: 0;
    padding: 0;
}

.cart-item-button {
    grid-column: 4/5;
    grid-row: 1/2;
    margin: 0;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.cart-item-price {
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: right;
}

.cross-icon {
    display: block;
    margin: 0;
    padding: 0;
    fill: #2D3440;
}

.cart-bottom-line {
    height: 1px;
    width: 345px;
    margin-top: 8px;
    margin-bottom: 32px;
    background-color: #E7E7E7;
}

.buttom-n-sum-wrap {
    display: flex;
    justify-content: space-between;
    width: 345px;
}

/*empty cart popover*/

.empty-cart-popover {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% - 10px);
    box-sizing: border-box;
    padding: 12px;
    z-index: 3;
}

.empty-cart-popover-content {
    box-sizing: border-box;
    width: 288px;
    padding: 48px;
    z-index: 1;
}

.navigation-item:hover .empty-cart-popover {
    display: block;
}

.empty-cart-popover p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

/*search-request popover*/

.popover-search {
    display: none;
    position: absolute;
    top: calc(100% - 10px);
    right: 0px;
    box-sizing: border-box;
    padding: 12px;
    z-index: 3;
}

.popover-search-content {
    width: 356px;
    height: 96px;
    box-sizing: border-box;
    padding: 24px 16px 24px 16px;
    z-index: 1;
}

.navigation-item:hover .popover-search {
    display: block;
}

.close-search-window {
    position: relative;
    display: block;
    top: 36px;
    right: 36px;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.close-search-icon {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 9px;
    height: 9px;
    margin: 0;
    padding: 0;
    fill: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 2;
}

.close-search-window:hover .close-search-icon {
    fill: rgba(0, 0, 0, 1);
}

/*popover-login*/

.popover-login {
    display: none;
    position: absolute;
    top: calc(100% - 10px);
    right: 0px;
    box-sizing: border-box;
    padding: 12px;
    z-index: 3;
}

.popover-login-content {
    box-sizing: border-box;
    height: 350px;
    width: 420px;
    padding: 48px;
    z-index: 1;
}

.navigation-item:hover .popover-login {
    display: block;
}

.login-form-title {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    color: #2D3440;
}

.email-login {
    margin-bottom: 16px;
}

.password-login {
    margin-bottom: 32px;
}

.login-form-links-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 194px;
    bottom: 62px;
}

.login-form-link {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    border-bottom: 1px solid #2D3440;
}

.forgot-password {
    margin-bottom: 4px;
}

.login-button {
    display: inline-block;
    margin-bottom: 4px;
}

/* main */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

/* слайдер */

.bestsellers-slider {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 74px;
    text-align: left;
}

.slider-list {
    margin: 0;
    margin-left: 70px;
    margin-bottom: -29px;
    padding: 0;
    list-style-type: none;
}

.slider-description-wrap {
    width: 470px;
}

.slider-image-wrap {
    position: relative;
    width: 348px;
}

.strawberry-ice-cream-wrap:after {
    content: "";
    position: absolute;
    left: 21px;
    top: 115px;
    width: 312px;
    height: 312px;
    background-color: #FFCBD8;
    border-width: 0;
    border-radius: 50%;
    z-index: -1;
}

.banana-ice-cream-wrap:after {
    content: "";
    position: absolute;
    left: 21px;
    top: 100px;
    width: 312px;
    height: 312px;
    background-color: #9FC8FF;
    border-width: 0;
    border-radius: 50%;
    z-index: -1;
}

.caramel-ice-cream-wrap:after {
    content: "";
    position: absolute;
    left: 21px;
    top: 100px;
    width: 312px;
    height: 312px;
    background-color: #FCDC92;
    border-width: 0;
    border-radius: 50%;
    z-index: -1;
}

.slider-image {
    display: block;
    margin: 21px 21px 26px 21px;
}

.slider-button {
    padding: 0;
    width: 38px;
    height: 38px;
    border-width: 0;
    border-radius: 26px;
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px #FCFCFC;
}

.slider-swipe-button {
    margin: auto;
    border-width: 0;
    fill:#FCFCFC;
}

.slider-button:hover {
    background-color: #FCFCFC;
    box-shadow: none;
}

.slider-button:hover .slider-swipe-button {
    fill: #2D3440;
}

.slider-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px #2D3440;
    outline: none;
}

.slider-button:focus .slider-swipe-button {
    fill: #2D3440;
}

.slider-button:disabled {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px rgba(252, 252, 252, 0.4);
}

.slider-button:disabled .slider-swipe-button {
    fill: rgba(252, 252, 252, 0.4);
}

.slider-prev {
    position: absolute;
    left: 542px;
    top: 254px;
}

.slider-next {
    position: absolute;
    right: 278px;
    top: 254px;
}

.little-circle {
    position: absolute;
    right: 0;
    left: 0;
    top: 25px;
    bottom: 25px;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 203, 216, 0.4);
    border-radius: 50%;
    z-index: -1;
}

.slider-list-item {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.banana-ice-cream-slide,
.caramel-ice-cream-slide,
.strawberry-ice-cream-slide {
    display: none;
}

.current-slide {
    display: flex;
}

.ice-cream-title{
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 0;
    padding: 0;
    padding-top: 132px;
    padding-bottom: 24px;
}

.ice-cream-description {
    margin: 0;
    padding: 0;
    padding-right: 56px;
    padding-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.order-now,
.pagination-show-more {
    display: inline-block;
    color: #2D3440;
    padding: 12px 32px 12px 32px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: #FCFCFC;
    cursor: pointer;
    border-width: 0;
    background-color: #FCFCFC;
    border-radius: 26px;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.order-now.spinner::after {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 8px;
    vertical-align: text-top;
    background-image: url("../img/index/white_spinner.svg");
    background-repeat: no-repeat;
}

.pagination-show-more {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.pagination-show-more.spinner::after {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 8px;
    background-image: url("../img/index/black_spinner.svg");
    background-repeat: no-repeat;
}

.order-now:hover,
.pagination-show-more:hover {
    background-color: rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15), 0 0 0 4px #FCFCFC;
}

.order-now:focus,
.pagination-show-more:focus {
    background-color: #FCFCFC;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 2px #2D3440;
    outline: none;
}

.order-now:disabled,
.pagination-show-more:disabled {
    color: #B9B9B9;
    background-color: #E7E7E7;
    box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.thumbnails-list {
    display: flex;
    justify-content: space-between;
    width: 241px;
    margin: 0;
    margin-left: 41px;
    padding: 0;
    list-style-type: none;
}

.thumbnails-list-item {
    position: relative;
    width: 100px;
    height: 150px;
    margin-top: 204px;
    margin-bottom: 200px;
}

.thumbnail-link {
    display: block;
    width: 100px;
    height: 150px;
    margin: 0;
    text-decoration: none;
}

.thumbnail-img {
    display: block;
    width: 66px;
    height: 150px;
    margin: 0;
    margin-left: 17px;
    margin-right: 17px;
    padding: 0;
}

.circles-list {
    display: flex;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

.slider-circle-link {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
}

.tiny-circle {
    width: 12px;
    height: 12px;
    background-color: rgba(252, 252, 252, 0.3);
    border-width: 0;
    border-radius: 50%;
}

.slider-circle-link:hover .tiny-circle {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #FCFCFC;
}

.slider-circle-link:focus .tiny-circle {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #2D3440;
    outline: none;
}

.slider-circle-link:focus {
    outline: none;
}

.current-circle > .tiny-circle {
    background-color: #FCFCFC;
}

.circles-list-item {
    margin-right: 8px;
}

.circles-list-item:last-child {
    margin-right: 0;
}

.social-media-n-circles {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.social-media-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 28px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-media-after-slider .social-media-list {
    margin-left: auto;
}

.social-media-list-item {
    margin-left: 16px;
}

.soc-icon {
    margin: auto;
    fill: #FCFCFC;
    border-radius: 100px;
    border-width: 0;
    box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.2);
}

.social-media-link {
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.social-media-link:hover .soc-icon {
    background-color: #2D3440;
}

.social-media-link:focus .soc-icon {
    background-color: #2D3440;
    box-shadow: 0 0 0 2px #2D3440;
}

.social-media-link:focus {
    outline: none;
}

/* промо-секция: подарки при заказе */

.gifts-for-orders {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto 80px auto;
}

.gifts-for-order-header {
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 56px;
    width: 1170px;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.gifts-wrap {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.get-for-free {
    display: flex;
    background-color: #ff7799;
    width: 570px;
    border-radius: 16px;
}

.gift-left-inner-column {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.gift-left-inner-column > p {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.raspberry-free-image,
.marshmallow-free-image {
    display: block;
    margin: 0;
    margin-top: auto;
    padding: 0;
}

.raspberry-free-header,
.marshmallow-free-header {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
}

.gift-right-inner-column {
    padding-top: 19px;
    margin: 0;
    align-self: flex-end;
}

.left-container {
    padding-right: 15px;
    margin-top: auto;
}

.right-container {
    padding-right: 7px;
    margin-top: auto;
}

/* витрина самых популярных вкусов */

.bestchoice {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
}

.bestchoice-title {
    display: block;
    width: 1170px;
    margin-bottom: 107px;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.bestchoice-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bestchoice-list-item {
    margin-right: 30px;
    margin-bottom: 91px;
}

.bestchoice-list-item:nth-child(4n) {
    margin-right: 0;
}

.flypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 24px;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.product-card-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.product-card-link>h5 {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-card-link > h3 {   /*для заголовков в карточках в Каталоге*/
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.flypage > p {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    text-align: center;
}

.flypage > span {
    margin: 0;
    padding: 0;
}

.product-card-image {
    order: -1;
    display: block;
    width: 168px;
    margin-top: -51px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.price-n-button-wrap {
    display: flex;
    width: 190px;
    justify-content: space-between;
}

.price {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    margin-top: 6px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.add-to-cart {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    border-width: 0;
    border-radius: 26px;
    cursor: pointer;
    background-color: #FF2F64;
}

.pink-cart-svg {
    position: absolute;
    top: 0;
    right: 0;
    fill: #FCFCFC;
}

.add-to-cart:hover {
    height: 32px;
    width: 32px;
    background-color: #FCFCFC;
    box-shadow: inset 0 0 0 2px #FF2F64, 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-to-cart:hover .pink-cart-svg {
    fill: #000000;
}

.add-to-cart:focus {
    background-color: #FF2F64;
    box-shadow: inset 0 0 0 2px #2D3440;
    border-width: 0;
    outline: none;
}

.add-to-cart:focus .pink-cart-svg {
    fill: #FCFCFC;
    border-width: 0;
}

.add-to-cart:disabled {
    background-color: #B9B9B9;
}

.add-to-cart:disabled .pink-cart-svg{
    fill: #000000;
}

/* сильные стороны магазина */

.strong-points {
    width: 1170px;
    margin: 0 auto;
    margin-top: -11px;
    margin-bottom: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 16px;
    background-image: url("../img/index/waffle_cropped.jpg");
}

.strong-points-inner-wrap {
    width: 1042px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 56px;
    background-color: #FCFCFC;
    border-radius: 16px;
}

.strong-points-title {
    display: block;
    margin: 0 auto;
    margin-bottom: 39px;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.strong-points-list {
    display: grid;
    column-gap: 31px;
    row-gap: 11px;
    grid-template-columns: 506px 506px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.strong-points-item {
    width: 506px;
}

.strong-points-description {
    display: block;
    position: relative;
    padding-left: 64px;
}

.ice-cream::before {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/index/ice_cream_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.leaf::before {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/index/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cow::before {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/index/cow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.temperature::before {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/index/thermometer.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* контейнер для блога и подписки */

.article-subscription-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 76px;
}

/* блог */

.article-wrap {
    width: 303px;
    margin-right: auto;
    padding: 32px 235px 63px 32px;
    background-image: url("../img/index/three_ice_cream_scoops.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-color: #FCFCFC;
}

.new-article > b {
    display: block;
    margin-bottom: 12px;
    line-height: 20px;
    color: #565C66;
}

.article-link {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    text-decoration: none;
    background-image: none;
}

/*подписка*/

.subscription {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    width: 570px;
    border-radius: 16px;
    margin-left: auto;
    padding: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/index/post_stripes_optimized.jpg');
}

.subscription-inner-wrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 558px;
    padding: 26px;
    padding-bottom: 24px;
    border-radius: 16px;
    background-color: #FCFCFC;
}

.subscription-inner-wrap > p {
    font-weight: 400;
    color: #565C66;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
}

.subscription-form {
    display: grid;
    width: 508px;
    grid-template-columns: 332px 152px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
}

.send-button {
    display: inline-block;
    height: 44px;
    padding: 12px 32px 12px 32px;
    margin: 0;
    border-width: 0;
    border-radius: 26px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FCFCFC;
    text-align: center;
    background-color: #FF2F64;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(255, 47, 100, 0.3);
}

.send-button:hover {
    color: #2D3440;
    box-shadow: none;
    background-color: rgba(252, 252, 252, 0.3);
    outline: 4px solid #FF2F64;
}

.send-button:focus {
    color: #FCFCFC;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 2px #2D3440;
    background-color: #FF2F64;
    outline: none;
}

.send-button:disabled {
    color: #565C66;
    box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
    background-color: #B9B9B9;
}

/* доставка */

.delivery {
    display: flex;
    width: 1170px;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 64px;
    padding-bottom: 57px;
    background-size: cover;
    background-image: url("../img/index/assorted_ice-cream.jpg");
    background-color: #FCFCFC;
    background-repeat: no-repeat;
}

.delivery-description-wrap {
    width: 400px;
    margin: 0 auto 0 100px;
}

.delivery-title {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 103px;
    margin-bottom: 22px;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.delivery-prompting {
    display: block;
    max-width: 377px;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.delivery-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin: 0 64px 8px auto;
    padding: 40px 40px 40px 40px;
    background-image: none;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.delivery-tip {
    padding: 0;
    margin: 0;
    margin-left: -30px;
    margin-bottom: 32px;
    max-width: 385px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #565C66;
}

.delivery-form {
    display: grid;
    width: 420px;
    grid-template-columns: 117px 287px;
    grid-gap: 16px 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
}

.delivery-date-form,
.delivery-phone-form,
.delivery-address-form {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.delivery-date-form {
    position: relative;
    grid-column: 1/2;
    width: 117px;
    display: flex;
    flex-direction: column;
}

.delivery-phone-form {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.delivery-address-form {
    position: relative;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.delivery-date-form > label,
.delivery-phone-form > label,
.delivery-address-form > label {
    margin-bottom: 8px;
}

.field {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 16px 14px 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
}

.field::placeholder {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.field:hover {
    border: 1px solid #2D3440;
}

.field:focus {
    border-color:#2D3440;
    box-shadow: inset 0 0 0 1px #2D3440;
    outline: none;
}

.field:disabled {
    border-color: #B9B9B9;
}

.error {
    border-color: #EA5454; /*ДЛЯ ОТРАБОТКИ СЛУЧАЕВ "ОШИБКА/ОШИБКА И НАВЕДЕНИЕ" К КЛАССУ .field СЛЕДУЕТ ДОБАВЛЯТЬ КЛАСС .error */
}

.error:hover {
    border-color: #EA5454;
    box-shadow: inset 0 0 0 1px #EA5454;
}

.tooltip {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 46px;
    transform: translateX(-6px);
    z-index: 1;
}

.info {
    position: absolute;
    width: 14px;
    height: 14px;
    display: inline-block;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url("../img/index/info.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.delivery-date-form .info {
    margin-top: 3px;
    margin-bottom: 11px;
    margin-left: 5.5px;
}

.delivery-address-form .info {
    margin-top: 3px;
    margin-bottom: 11px;
    margin-left: 16px;
}

.tooltip-text {
    display: none;
    position: absolute;
    top: -6px;
    left: 0;
    transform: translate(25px, 0);
    box-sizing: border-box;
    width: 169px;
    padding: 10px 8px 10px 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #565C66;
    background-color: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 1px;
    box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.18);
    z-index: 2;
}

.tooltip-text:before {
    position: absolute;
    left: -6px;
    top: 10px;
    content: "";
    width: 9px;
    height: 9px;
    border-left: 1px solid #B9B9B9;
    border-bottom: 1px solid #B9B9B9;
    transform: rotate(45deg);
    background-color: #FCFCFC;
}

.delivery-address-form .tooltip-text {
    left: 12px;
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
    display: block;
}

.delivery-button {
    grid-column: 1/-1;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

/* контакты */

.address-section {
    width: 1170px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
    border-radius: 16px;
    background-size: cover;
    background-image: url("../img/index/three_ice_cream_cones.jpg");
    background-repeat: no-repeat;
    background-color: #FCFCFC;
}

.address-inner-wrap {
    width: 263px;
    margin-left: 64px;
    margin-right: auto;
    padding: 24px 40px 42px;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.gllacy-shop-address-title,
.gllacy-shop-phone-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.gllacy-shop-address-link,
.gllacy-shop-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.gllacy-shop-address-title {
    display: block;
    margin-right: 84px;
    margin-bottom: 12px;
    text-align: left;
}

.gllacy-shop-address-link {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    text-align: left;
    text-decoration: none;
}

.gllacy-shop-phone-title {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
}

.gllacy-shop-phone {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
}

.open-hours {
    display: block;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #565C66;
}

/* footer */

.page-footer-container {
    display: flex;
    justify-content: flex-start;
    width: 1170px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 14px;
}

.soc-footer {
    margin-left: 10px;
    margin-right: 310px;
}

.soc-footer .social-media-list-item {
    margin-left: 0;
    margin-right: 16px;
}

.extra-links-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 56px;
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
    margin-right: 323px;
    list-style-type: none;
}

.extra-links-item {
    margin-bottom: 4px;
}

.catalog-footer-extra-links .extra-links-item {
    margin-bottom: 6px
}

.extra-link {
    margin-right: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.for-suppliers {
    font-weight: 700;
}

.for-suppliers-item {
    position: relative;
}

.for-suppliers-item::after {
    position: absolute;
    left: 0;
    top: 2px;
    transform: translate(-135%, 0);
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../img/index/heart.svg");
    background-repeat: no-repeat;
    z-index: 3;
}

.web-developer, .web-developer-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2D3440
}

.web-developer-logo {
    display: block;
}

/* Catalog */

.page-header {
    margin-bottom: 28px;
}

.main-inner-title {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    color: #2D3440;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-link {
    display: block;
    margin-right: 28px;
    border-bottom: 1px solid #2D3440;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
}

.breadcrumbs-item:last-child>.breadcrumbs-link {
    border: none;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item::after {
    position: absolute;
    right: 10px;
    top: 5px;
    content: "";
    width: 8px;
    height: 6px;
    background-image: url("../img/catalog/double_arrow.svg");
    background-repeat: no-repeat;
    z-index: 1;
}

.breadcrumbs-item:last-child::after {
    content: "";
    background-image: none;
}

.breadcrumbs-current {
    text-decoration: none;
}

/*drop-menu*/

.navigation-item {
    position: relative;
}

.catalog-dropmenu {
    display: none;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    width: 138px;
    background-color: #FCFCFC;
    border-radius: 4px;
    z-index: 2;
}

.catalog-dropmenu-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-dropmenu-link {
    display: block;
    margin: 0;
    padding: 8px 16px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
    text-align: left;
}

.catalog-dropmenu-link:hover {
    background-color: #FFCBD8;
    color: #2D3440;
}

.catalog-dropmenu-link:active {
    background-color: #FF7799;
}

.novelties {
    display: block;
    position: relative;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
}

.novelties:after {
    content: "";
    position: absolute;
    width: calc(100% - 32px);
    margin: 0 auto;
    background-color: #B9B9B9;
    height: 1px;
    bottom: -5px;
    right: 0;
    left: 0;
}

.catalog-dropmenu-item:first-child {
    margin-top: 1px;
}

.catalog-dropmenu-item:last-child {
    margin-bottom: 4px;
}

.current-dropmenu-link {
    background-color: #FF4A78;
    color: #FCFCFC;
}

.navigation-item-current:hover .navigation-dropmenu,
.navigation-catalog-item:hover .navigation-dropmenu {
    display: block;
}

/*Catalog filters*/

.product-filters {
    display: flex;
    flex-wrap: wrap;
    width: 807px;
}

.catalog-filter {
    margin-bottom: 99px;
}

/*Select*/

.filling-n-button-container,
.select-range-radio-container {
    display: flex;
}

.select-range-radio-container {
    margin-bottom: 16px;
}

.select-wrap {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 24px;
    border: none;
}

.select-control {

    height: 36px;
    padding: 8px 35px 8px 16px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-width: 0;
    border-radius: 20px;
    background-color: #FDC6D4;
    background-image: url("../img/catalog/select_arrow.svg");
    background-size: 12px 6px;
    background-position: bottom 14px right 16px;
    background-repeat: no-repeat;
}

.select-control:hover {
    background-color: #FDD5DF;
}

.select-control:focus {
    background-color: #FDCEDA;
    box-shadow: inset 0 0 0 2px #FCFCFC;
    outline: none;
}

.select-control option {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
}

.select-control-title {
    margin: 0;
    margin-left: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.select-control > option {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
}

/*Range*/

.range-wrap {
    margin-right: 24px;
    margin-top: -2px;
}

.range {
    width: 196px;
    box-sizing: border-box;
}

.range-scale-wrap {
    padding: 17px 16px 17px 16px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    border-width: 0;
}

.range-scale {
    position: relative;
    width: 164px;
    height: 2px;
    background-color: rgba(86, 92, 102, 0.3);
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #565C66;
}

.range-wrapper-inputs {
    display: flex;
    margin-left: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
}

.catalog-filter-label {
    display: flex;
}

.range-input {
  width: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #2D3440;
  appearance: textfield;
}

.ruble {
  display: inline-block;
  vertical-align: text-bottom;
  margin-bottom: -3px;
}

.max-price {
  width: 30px;
  justify-self: flex-start;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FCFCFC;
    border-radius: 50%;
    border-width: 0;
    box-shadow: inset 0 0 0 6px #2D3440;
    cursor: pointer;
}

.range-toggle:hover {
 background-color: #2D3440;
 box-shadow: inset 0 0 0 6px #FCFCFC;

}

.range-toggle:active {
  background-color: #2D3440;
  outline: none;
}

.range-toggle:focus {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 6px #FCFCFC, inset 0 0 0 2px #2D3440;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

/*Radio*/
.control-input[type="radio"] + .control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/catalog/radio_off.svg");
    background-repeat: no-repeat;
}

.control-input[type="radio"]:hover + .control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/catalog/radio_off_white.svg");
    background-repeat: no-repeat;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    content: "";
    background: #2D3440;
    background-repeat: no-repeat;
}

.control-input[type="radio"]:checked:hover + .control-mark::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    content: "";
    background: #FCFCFC;
    background-repeat: no-repeat;
}

.control-label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.fat-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-width: 0;
}

.fat-content-title {
    margin: 0;
    margin-bottom: 7px;
    margin-left: 16px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.fat-content-list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 8px 15px 8px 15px;
    list-style-type: none;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3)
}

.fat-content-list-item:nth-child(1) {
    margin-right: 15px;
}

.fat-content-list-item:nth-child(2) {
    margin-right: 17px;
}

.fat-content-list-item:nth-child(3) {
    margin-right: 19px;
}

/*Checkboxs*/

.control {
    position: relative;
    display: block;
    padding-left: 24px;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/catalog/empty_checkbox.svg");
    border-width: 0;
}

.control-input[type="checkbox"]:hover + .control-mark {
    border-width: 0;
    background-image: url("../img/catalog/white_empty_checkbox.svg");
}

.control-input[type="checkbox"]:disabled + .control-mark {
    border-width: 0;
    background-image: url("../img/catalog/empty_checkbox.svg");
    opacity: 0.4;
}

.control-input[type="checkbox"]:active .control-mark {
    border-width: 0;
}

.control-input[type="checkbox"]:checked .control-mark {
    border-width: 0;
}

.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url("../img/catalog/check.svg");
}

.control-input[type="checkbox"]:checked:hover + .control-mark {
    background-image: url("../img/catalog/white_checked_checkbox.svg");
}

.filling-list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-left: 1px;
    padding: 8px 16px 8px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color:rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    list-style-type: none;
}

.filling-list li:not(:last-child) {
    margin-right: 19px;
}

.filling-list li:nth-child(3) {
    margin-left: 4px;
}

.filling-list li:nth-child(4) {
    margin-left: -1px;
}

.filling-list li:nth-child(5) {
    margin-left: -5px;
}

.filling-filter {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 24px;
    padding: 0;
    border-width: 0;
}

.filling-title {
    margin: 0;
    margin-bottom: 8px;
    margin-left: 16px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.apply-button {
    align-self: flex-end;
    margin: 0;
    padding: 8px 53.5px 8px 53.5px;
    color: #2D3440;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 0 0 2px #FCFCFC;
    border-width: 0;
    border-radius: 26px;
    background-color: rgba(252, 252, 252, 0.3);
}

.apply-button:hover {
    background-color: #FCFCFC;
    box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.apply-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 2px #2D3440;
}

.apply-button:disabled {
    background-color: #E7E7E7;
    box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.4);
    color: #B9B9B9;
}

.product-card-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.product-card {
    margin-bottom: 91px;
    margin-right: 30px;
}

.product-card:nth-child(4n) {
    margin-right: 0;
}

.pagination-n-show-more-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1170px;
    margin-top: -75px;
    margin-bottom: 39px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.pagination-show-more {
    margin-left: -5px;
}

.pagination-list {
    display: flex;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}

.pagination-link {
    border-radius: 50px;
    padding: 2px 8px 2px 8px;
    border-radius: 50px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
}

.pagination-current {
    display: block;
    padding: 2px 8px 2px 8px;
    background-color: #FCFCFC;
    border-radius: 50px;
}

.pagination-link:hover {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #FCFCFC;
}

.pagination-link:focus {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #2D3440;
    outline: none;
}

.pagination-prev {
    margin-right: 20px;
    background-image: url("../img/catalog/pagination_prev.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 6px 11px;
    box-shadow: none;
    outline: none;
}

.pagination-next {
    margin-left: 17px;
    background-image: url("../img/catalog/pagination_next.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 6px 11px;
    box-shadow: none;
    outline: none;
}

.pagination-prev:hover,
.pagination-next:hover {
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.pagination-prev:focus,
.pagination-next:focus {
    background-color: transparent;
    box-shadow: none;
}

.pagination-disabled {
    opacity: 0.3;
    cursor: auto;
}

/*модальное окно*/

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 52, 64, 0.3);
    z-index: 10;
}

.modal-window-wrap {
    display: none;
    position: relative;
    box-sizing: border-box;
    width: 570px;
    height: 545px;
    margin: auto;
    padding: 64px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
    z-index: 5;
}

.modal-container.activate-modal-window {
    display: flex;
}

.modal-window-wrap.activate-modal-window {
    display: block;
}

.modal-container p {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
}

.close-window-button {
    position: absolute;
    top: 36px;
    right: 36px;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.close-window-icon {
    fill: #2D3440;
    margin: 0;
    padding: 0;
    display: block;
}

.name-surname,
.email-login {
    margin: 0;
    margin-bottom: 16px;
}

.free-form {
    min-height: 149px;
    margin: 0;
    margin-bottom: 32px;
    padding:14px 16px 14px 16px;
    text-align: start;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #B9B9B9;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

textarea:-moz-placeholder,
textarea::-webkit-input-placeholder {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

textarea::placeholder {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.feedback-button {
    margin: 0;
    margin-right: -2px;
    float: right;
}
