@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}


html {
    height: 100%;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    /* цвета фонов других вариантов заглавной страницы: #69A9FF   #FCC850 */
    color: #2D3440;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    cursor: pointer;
}

/* page-header */

.main-header, .page-header {
    width: 1170px;
    margin: 0 auto;
}


.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    margin: 0;
    margin-top: 34px;
    margin-bottom: 34px;
    padding: 0;
    width: 654px;
    list-style-type: none;
}

.user-navigation {
    justify-content: flex-end;
    max-width: 452px;
    margin-left: auto;
    margin-top: 36px;
    margin-bottom: 36px;
}

.logo-wrap {
    padding: 24px 16px 24px 0;
    margin: 0;
    border-radius: 26px;
}

.logo {
    padding: 0;  
    margin: 0;
}



.navigation-link {
    display: block;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    border-radius: 26px;
}

.current-nav-link-wrap{
    display: flex;
    justify-content: center;
    height: 36px;
    border-width: 0;
    border-radius: 26px;

       

}


.navigation-link-current {
    align-self: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #FCFCFC;
    background-color: #FF4A78;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    border-radius: 26px;

    
}

.navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.5);

}

.navigation-link-current:hover {
    background-color: rgba(252, 252, 252, 0.5);
    color: #2D3440;
}

.navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0 0 0 2px #2D3440;
    outline: none;

}

.navigation-link-current:focus {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0 0 0 2px #2D3440;
    color: #2D3440;
}

.navigation-link:active {
    background-color: #FCFCFC;
    box-shadow: none;
}

.navigation-link-current:focus {
    background-color: #FCFCFC;
    box-shadow:none;
    color: #2D3440;
    outline: none;
}


.logo-link {
    margin: 0; 
    padding: 0; 
    text-decoration: none;
}

.logo-link:hover, .logo-link:focus, .logo-link:active { 
    box-shadow: none;
    background-color: none;
}

.logo-link:focus {
    outline: 2px solid #2D3440; 
}

.user-navigation>li {
    font-size: 14px;
    margin-right: 16px;

}

.user-navigation>li:last-child {
    margin-right: 0;
}

.phone {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 26px;
}

.phone:focus{
    outline: 2px solid #2D3440;
}


.search-link {
    display: block;
    height: 32px;
    width: 32px;
    position: relative;
    /*padding-top: 11.25px;
    padding-right: 18.25px;
    padding-bottom: 12.75px;
    padding-left: 17.25px;*/
    background-color: rgba(252, 252, 252, 0.3);  
    border-radius: 50%;
    
}

.navigation-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    fill: #2D3440; 
}


/*.icon-n-text-link {
    height: 32px;
    background-color: rgba(252, 252, 252, 0.3);  
    border-radius: 26px;
}*/

.icon-n-text-link a {
    display: flex;  
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);  
    border-radius: 26px;
    padding: 6px 16px;
    padding-left: 40px;
    text-decoration: none;
    cursor: pointer;

    
}

.icon-n-text-link a:hover, .search-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
    

}

.icon-n-text-link a:focus, .search-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0 0 0 2px #2D3440;
    outline: none;

}

.icon-n-text-link a:active, .search-link:active {
    background-color: #FCFCFC;
    box-shadow: none;
}




.nav-login-link .navigation-icon, .nav-cart-link .navigation-icon {
    position: absolute;
    right: auto;
    left: 16px;
    margin: auto 0;

}

.icon-n-text-link span {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

/* main */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

/* слайдер */

.bestsellers-slider {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 80px;
    width: 1170px;
    text-align: left;

}

.slider-list {
    margin: 0;
    margin-left: 70px;
    padding: 0;
    list-style-type: none;
}

.slider-description-wrap {
    width: 470px;

}

.slider-image-wrap {
    width: 348px;
}

.slider-image {
    display: block;
    margin: 21px 21px 26px 21px;
}

.slider-button { 
    padding: 0;
    border-width: 0;
    width: 38px;
    height: 38px;
    border-radius: 26px;
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px #FCFCFC;
    
     
}

.slider-swipe-button {
    margin: auto;  /*стрелки оказались смещены относительно центра кнопки*/
    border-width: 0;
    fill:#FCFCFC; 
}

.slider-button:hover {
    background-color: #FCFCFC;
    box-shadow: none;

}

.slider-button:hover .slider-swipe-button {
    fill: #2D3440;

}

.slider-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px #2D3440;
    outline: none;

}

.slider-button:focus .slider-swipe-button {
    fill: #2D3440;
}

.slider-button:disabled {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px rgba(252, 252, 252, 0.4);

}


.slider-button:disabled .slider-swipe-button {
    fill: rgba(252, 252, 252, 0.4);
}


.slider-prev {
    position: absolute;
    left: 542px;
    top: 258px;
    bottom: 258px;
    right: 590px;
}

.slider-next {
    position: absolute;
    right: 278px;
    top: 258px;
    bottom: 258px;
    left: 854px;
}

.big-circle {
    position: absolute;
    left: 561px;
    right: 297px;
    top: 121px;
    bottom: 121px;
    width: 312px;
    height: 312px;
    background-color: #FFCBD8;
    border-width: 0;
    border-radius: 50%;
    z-index: -1;

}

.little-circle {
    position: absolute;
    right: 0;
    left: 0;
    top: 25px;
    bottom: 25px;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 203, 216, 0.4);
    border-radius: 50%;
    z-index: -1;
}

.slider-list-item {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.ice-cream-title{
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 0;
    padding: 0;
    padding-top: 136px;
    padding-bottom: 24px;
}

.ice-cream-description {  
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-right: 56px;
    padding-bottom: 48px;
}


.order-now, .pagination-show-more {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    padding: 12px 32px 12px 32px;
    text-align: center;
    text-decoration: none;
    background-color: #FCFCFC;
    cursor: pointer; 
    border-width: 0;
    background-color: #FCFCFC;
    /*outline: 4px solid rgba(252, 252, 252, 0.4);*/
    border-radius: 26px; 
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(252, 252, 252, 0.4);

}

.order-now.spinner {
    padding-right: 56px;
}

.order-now.spinner::after { /*справа остается больше паддинг, чем на макете*/
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/index/white_spinner.svg");
    background-repeat: no-repeat;
    margin-left: 8px;
}

.pagination-show-more {
    position: absolute;
    margin-left: auto;  
    margin-right: auto;
}

.pagination-show-more.spinner {
    padding-right: 56px;
}

.pagination-show-more.spinner::after { /*справа остается больше паддинг, чем на макете*/
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/index/black_spinner.svg");
    background-repeat: no-repeat;
    margin-left: 8px;
}



.order-now:hover, .pagination-show-more:hover {
    background-color: rgba(252, 252, 252, 0.4);
    /*outline: 4px solid #FCFCFC;*/
    box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15), 0 0 0 4px #FCFCFC;

}

.order-now:focus, .pagination-show-more:focus {
    /*outline: 2px solid #2D3440; есть небольшой зазор между outline и белой подложкой кнопки*/
    background-color: #FCFCFC;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 2px #2D3440;
    outline: none;
}

.order-now:disabled, .pagination-show-more:disabled {
    color: #B9B9B9;
    background-color: #E7E7E7;
    /*outline: 4px solid rgba(252, 252, 252, 0.4);*/
    box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);

}


.thumbnails-list {
    display: flex;
    width: 241px;
    justify-content: space-between;
    margin: 0;
    margin-left: 41px;
    padding: 0;
    list-style-type: none;
}

.thumbnails-list-item {
    position: relative;
    width: 100px;
    height: 150px;
    margin-top: 204px;
    margin-bottom: 200px;
}

.thumbnail-link {
    display: block;
    width: 100px;
    height: 150px;
    text-decoration: none;
    margin: 0;
}

.thumbnail-img {
    display: block;
    width: 66px;
    height: 150px;
    margin: 0;
    margin-left: 17px;
    margin-right: 17px;
    padding: 0;
    
}

.circles-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-circle-link {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;

}

.tiny-circle {
    width: 12px;
    height: 12px;
    background-color: rgba(252, 252, 252, 0.3);
    border-width: 0;
    border-radius: 50%;

}

.slider-circle-link:hover .tiny-circle {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #FCFCFC;

}

.slider-circle-link:focus .tiny-circle {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #2D3440;
    outline: none;
}

.slider-circle-link:focus {
    outline: none;
}

.current-circle>.tiny-circle {
    background-color: #FCFCFC;
}

.circles-list-item {
    margin-right: 8px;
}

.circles-list-item:last-child {
    margin-right: 0;
}


.social-media-n-circles {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.social-media-list {
    display: flex;
    flex-wrap: wrap;
    width: 108px;
    min-height: 28px;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.social-media-after-slider .social-media-list {
    margin-left: auto;

}


.social-media-list-item {

    margin-right: 12px;
    
   
}

.social-media-list-item:nth-child(3n) {
    margin-right: 0;
}

.soc-icon {
    margin: auto;
    fill: #FCFCFC;
    border-radius: 100px;
    border-width: 0;
    box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.2);

}

.social-media-link {
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.social-media-link:hover .soc-icon {
    background-color: #2D3440; 
}

.social-media-link:focus .soc-icon {
    background-color: #2D3440;
    box-shadow: 0 0 0 2px #2D3440;
    
}

.social-media-link:focus {
    outline: none;
}


/* промо-секция: подарки при заказе */

.gifts-for-orders {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto 80px auto;

}

.gifts-for-order-header {
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 56px;
    width: 1170px;  
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.gifts-wrap {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    
}

.get-for-free {
    display: flex;
    background-color: #ff7799;
    width: 570px;
    border-radius: 16px;
    
}

.gift-left-inner-column {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.gift-left-inner-column>p {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;

}

.raspberry-free-image, .marshmallow-free-image{
    display: block;
    margin: 0;
    margin-top: auto;
    padding: 0;
}


.raspberry-free-header, .marshmallow-free-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    margin: 0; 
    padding: 0;
    margin-bottom: 16px;
}

.gift-right-inner-column { 
    padding-top: 28px;
    margin: 0;
    align-self: flex-end;
}

.left-container { 
    padding-right: 15px;
    margin-top: auto;
}

.right-container {
    padding-right: 7 px;
    margin-top: auto;

}


/* витрина самых популярных вкусов */

.bestchoice {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 80px;
    

}

.bestchoice-title {
    display: block;
    width: 1170px;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 107px;
}

.bestchoice-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    

}

.flypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCFCFC;
    border-radius: 8px;
    width: 190px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 24px;
}

.product-card-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.product-card-link>h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0;
}

.product-card-link>h3 {   /*для заголовков в карточках в Каталоге*/
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0;
}

.flypage>p {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    text-align: center;
}

.flypage>span {
    margin: 0;
    padding: 0;
}

.product-card-image {
    order: -1;
    display: block;
    width: 168px;
    border-radius: 50%;
    margin-top: -51px;
    margin-left: auto;
    margin-right: auto;
}

.price-n-button-wrap {
    display: flex;
    width: 190px;
    justify-content: space-between; 
}

.price{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin-left: 0;
    margin-right: auto;

}

.add-to-cart {
    position: relative;
    width: 32px;
    height: 32px;
    /*background: url('../img/index/pink_cart.svg') no-repeat top right; */
    padding: 0;
    margin: 0;
    border-width: 0;
    border-radius: 26px;
    cursor: pointer;
    background-color: #FF2F64;
}

.pink-cart-svg {
    position: absolute;
    top: 0;
    right: 0;
    fill: #FCFCFC;
}

.add-to-cart:hover {
    height: 32px;
    width: 32px;
    background-color: #FCFCFC;
    box-shadow: inset 0 0 0 2px #FF2F64, 0 4px 4px rgba(0, 0, 0, 0.25); 
}

.add-to-cart:hover .pink-cart-svg {
    fill: #000000;
}

.add-to-cart:focus {
    background-color: #FF2F64;
    box-shadow: inset 0 0 0 2px #2D3440;
    border-width: 0; 
    outline: none;

}

.add-to-cart:focus .pink-cart-svg {
    fill: #FCFCFC;
    border-width: 0;
}

.add-to-cart:disabled {
    background-color: #B9B9B9;
}

.add-to-cart:disabled .pink-cart-svg{
    fill: #000000;
}



/* сильные стороны магазина */

.strong-points {
    background-image: url("../img/index/waffle_cropped.jpg");
    width: 1170px;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.strong-points-inner-wrap {  
    background-color: #FCFCFC;
    width: 1042px;
    border-radius: 16px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 56px;
    padding-top: 56px;
}

.strong-points-title {
    display: block;
    width: 1122px;
    margin: 0 auto;
    margin-bottom: 56px;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

}

.strong-points-list {  
    display: grid;
    gap: 31px;
    grid-template-columns: 506px 506px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.strong-points-item {
    width: 506px;
    margin-bottom: 9px;
}

.strong-points-description {
    display: block;
    position: relative;
    padding-left: 64px;
}

.ice-cream::before {  
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/index/ice_cream_icon.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.leaf::before {  
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/index/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.cow::before {  
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/index/cow.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.temperature::before {  
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../img/index/thermometer.svg");
    background-repeat: no-repeat;
    background-position: center;

}

/* контейнер для блога и подписки */

.article-subscription-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 76px;

}

/* блог */

.article-wrap {
    width: 303px;
    background-image: url("../img/index/three_ice_cream_scoops.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-right: auto;
    padding: 32px 235px 63px 32px;
    
}


.new-article>b {
    line-height: 20px;
    color: #565C66;
}

.article-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    text-decoration: none;
    background-image: none;
}

/*подписка*/

.subscription {
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    background-image: url('../img/index/post_stripes_optimized.jpg');
    width: 570px;
    border-radius: 16px;
    margin-left: auto;
    padding: 6px;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscription-inner-wrap {
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    box-sizing: border-box;
    width: 558px;
    padding: 26px;
    border-radius: 16px;
}

.subscription-inner-wrap>p {
    font-weight: 400; 
    color: #565C66;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
}

.subscription-form {  
    display: grid;
    width: 508px;
    grid-template-columns: 332px 152px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
}

.send-button {
    display: inline-block;
    background-color: #FF2F64;
    color: #FCFCFC;
    /*width: 152px;*/
    height: 44px;
    border-width: 0;
    /*outline: 4px solid rgba(255, 47, 100, 0.3);*/
    border-radius: 26px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    padding: 12px 32px 12px 32px;
    margin: 0;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(255, 47, 100, 0.3);

}

.send-button:hover {
    color: #2D3440;
    box-shadow: none;
    background-color: rgba(252, 252, 252, 0.3);
    outline: 4px solid #FF2F64;

}

.send-button:focus {
    color: #FCFCFC;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 2px #2D3440;
    background-color: #FF2F64;
    /*outline: 2px solid #2D3440;*/
    outline: none;

}

.send-button:disabled {
    color: #565C66;
    box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
    background-color: #B9B9B9;
    /*outline: 4px solid rgba(185, 185, 185, 0.3);*/


}

/* доставка */

.delivery {
    display: flex;
    background-image: url("../img/index/assorted_ice-cream.jpg");
    background-repeat: no-repeat;
    width: 1170px;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.delivery-description-wrap {
    width: 400px;
    margin: 0 auto 0 100px;
}

.delivery-title {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 103px;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.delivery-prompting {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    color: #565C66;
    font-size: 16px;
    font-weight: 400; 
    line-height: 22px;
}

.delivery-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin: 0 64px 0 auto;
    padding: 40px 40px 42px 40px;
    background-image: none;
    background-color: #FCFCFC;
    border-radius: 8px;
}


.delivery-tip {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;

}

.delivery-form {  
    display: grid;
    width: 420px;
    grid-template-columns: 117px 287px;
    column-gap: 16px;
    row-gap: 20px;
    padding: 0;
    margin: 0;
}


.delivery-date-form, .delivery-phone-form, .delivery-address-form {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.delivery-date-form {
    grid-column: 1/2;
    width: 117px;
    display: flex;
    flex-direction: column;
}

.delivery-phone-form {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.delivery-address-form {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.delivery-date-form>label, .delivery-phone-form>label, .delivery-address-form>label {
    margin-bottom: 8px;
}

.field {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #B9B9B9;
    padding: 14px 16px 14px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #B9B9B9;
}

.info {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: 3px;
    margin-bottom: 11px;
    margin-left: 5.5px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url("../img/index/info.svg");
    background-repeat: no-repeat;
    background-position: center;
}


.delivery-button {
    grid-column: 1/-1;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

/* контакты */

.address-section {
    background-image: url("../img/index/three_ice_cream_cones.jpg"); 
    background-repeat: no-repeat;
    width: 1170px;
    border-radius: 16px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
    background-size: cover;

}


.address-inner-wrap {
    width: 263px;
    background-color: #FCFCFC;
    border-radius: 8px;
    margin-left: 64px;
    margin-right: auto;
    padding: 40px;
}



.gllacy-shop-address-title, .gllacy-shop-phone-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.gllacy-shop-address-link, .gllacy-shop-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

}

.gllacy-shop-address-title {
    display: block;
    margin-right: 84px;
    margin-bottom: 12px;
    text-align: left;

}

.gllacy-shop-address-link {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-bottom: 24px;
    text-align: left;
}

.gllacy-shop-phone-title {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
}

.gllacy-shop-phone {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
}

.open-hours {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}


/*.open-feedback-window {
    background-color: #FF2F64;
    color: #FCFCFC;
    width: 250px;
    height: 46px;
    border-width: 0;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}*/

/* footer */

.page-footer-container {
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 14px;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.extra-links-list {
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
    list-style-type: none;
}


.extra-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.for-suppliers {
    font-weight: 700;
}

.web-developer, .web-developer-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2D3440
}


/* Catalog */





.main-inner-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    color: #2D3440;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.breadcrumbs-link {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    margin-right: 28px;
   
}


.breadcrumbs-current {
    text-decoration: none;
}

.product-filters { /*не работает - в браузере отображается как display: block*/
    display: flex;
    flex-wrap: wrap;
    width: 807px;
}

.select-control {
    border-width: 0;
    border-radius: 20px;
    padding: 8px 61px 8px 16px;
    background-color: #FDC6D4;

}

.select-control>option {
    font-weight: 400px;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);

}

.range {
    display: grid; /*не получается правильно отформатировать эту часть формы. inputs с ценой не переставляются наверх*/
    height: 44px;
    width: 196px;
    box-sizing: border-box;
    grid-template-rows: 20px  36px;
    row-gap: 8px;
}


.range-scale {
    grid-row: 2/3;
    position: relative;
    width: 164px;
    height: 2px;
    background-color: rgba(86, 92, 102, 0.3);
    border-radius: 2px; /*по картинке вижу, что небольшое скругление есть, но саму цифру скругления не нашла*/

}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #565C66;
}

.range-wrapper-inputs {
    grid-row: 1/2;
    display: flex;
    justify-content:  center;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
}

.catalog-filter-label {
    display: flex;
    margin-left: 16px;
  }
  
  .range-input {
    width: 30px; /*откуда взять это значение?*/
    padding: 0 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #2D3440;
    appearance: textfield;
  }
  
  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

.range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FCFCFC;
    border-radius: 50%;
    border-width: 0;
    box-shadow: inset 0 0 0 6px #2D3440;
    cursor: pointer;

  }
  
  .range-toggle:hover {
    background-color: #2D3440;
    box-shadow: inset 0 0 0 6px #FCFCFC;
    ;
  }
  
  .range-toggle:active {
    background-color: #2D3440;
    outline: none;
  }

  .range-toggle:focus {
    background-color: #2D3440;
    box-shadow: inset 0 0 0 6px #FCFCFC, inset 0 0 0 2px 2D3440; /*можно так накладывать одну тень на другую?*/
  } 

  .toggle-min {
    top: -8px;
    left: -8px;
  }
  
  .toggle-max {
    top: -8px;
    right: -8px;
  }

  





  /*Чекбоксы*/

.control {
    position: relative;
    display: block;
    padding-left: 24px;
}
  
.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/catalog/empty_checkbox.svg");
    border-width: 0; /*все равно видна какая-то рамка*/
}

.control-input:hover .control-mark {
    border-width: 0;
    background-image: url("../img/catalog/white_empty_checkbox.svg");
}
  
.control-input:disabled + .control-mark {
    border-width: 0; 
    background-image: url("../img/catalog/empty_checkbox.svg");
    opacity: 0.4;

}

.control-input:active .control-mark {
      border-width: 0;
}

.control-input[type="checkbox"]:checked .control-mark{
      border-width: 0;

}

.control-input[type="checkbox"]:checked + .control-mark::before {     
      position: absolute;
      top: -1;
      left: -2;
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("../img/catalog/check.svg");
      background-repeat: no-repeat;
}



/*Радио*/
.control-input[type="radio"] + .control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/catalog/radio_off.svg");
    background-repeat: no-repeat;
}
  

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    content: "";
    background-image: url("../img/catalog/radio_on.svg");
    background-repeat: no-repeat;
  }

  .control-label {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
  }



.catalog-filter {
    margin-bottom: 99px;
}


.fat-content {
    display: flex;
    flex-direction: column;
    width: 367px;
    padding: 0;
    border-width: 0;
}

.fat-content-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    margin: 0;
    margin-bottom: 8px;
    margin-left: 16px;
    padding: 0;
}

.fat-content-list {
    display: flex;
    justify-content: space-between;
    width: 367px;
    margin: 0;
    padding: 10px 16px 10px 16px;
    list-style-type: none;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3)
    
}

.filling-filter {
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 0;
    border-width: 0;
}

.filling-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    margin: 0;
    margin-bottom: 8px;
    margin-left: 16px;
    padding: 0;
}

.filling-list {
    display: flex;
    width: 596px;
    justify-content: space-between;
    margin: 0;
    padding: 10px 16px 10px 16px;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color:rgba(252, 252, 252, 0.3);
    border-radius: 20px;
}

.apply-button {
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    width: 187px;
    height: 36px;
    border-width: 0;
    /*outline: 2px solid #FCFCFC;*/
    border-radius: 26px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 0 0 2px #FCFCFC;

}

.apply-button:hover {
    background-color: #FCFCFC;
    /*outline: 2px solid rgba(252, 252, 252, 0.3);*/
    box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.apply-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    /*outline: 2px solid #2D3440;*/
    box-shadow: 0 0 0 2px #2D3440;
}

.apply-button:disabled {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid rgba(252, 252, 252, 0.4);
    color: rgba(45, 52, 64, 1); /*в макете явно не 100% непрозрачность, но в Inspect указано 100%*/
}



.product-card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.product-card {
    margin-bottom: 91px;
}

.pagination-n-show-more-container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 1170px;
    margin-top: -75px;
    padding-top: 41px;
    padding-bottom: 41px;
}



.pagination-list {
    display: flex;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}

/*.pagination-list-item:not(:last-child) {
    margin-right: 16px;
}

.pagination-list:first-child {
    background-color: #FCFCFC;
    border-radius: 50px;
}*/

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
    border-radius: 50px;
    padding: 2px 8px 2px 8px;
    border-radius: 50px;
}

.pagination-current {
    display: block;
    padding: 2px 8px 2px 8px;
    background-color: #FCFCFC;
    border-radius: 50px;
}

.pagination-link:hover {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #FCFCFC;
}

.pagination-link:focus {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 1px #2D3440;
    outline: none;
}
